.row{
    margin:0;
    padding:0
}
audio{
    margin:5em;
    padding:.05em;
    width:0;
    height:0;
    background:0 0;
    display:none
}
@media screen and (max-width:900px){
    .skills1{
        grid-row:3
    }
    .skills,.skills1,.skills3{
        grid-column:1/4;
        padding:1em
    }
    .skills3{
        width:100%;
        text-align:left;
        grid-row:4
    }
    .skills{
        grid-row:2
    }
    .skills3 h5{
        text-align:left
    }
    .skillBox,.skills3 .skillBox{
        width:100%;
        padding:1em
    }
    .wrapper{
        height:100%
    }
}
@media screen and (max-width:600px){
    .section3{
        margin:1px;
        padding:1px
    }
    .section3 .container{
        margin:0
    }
    .section3 img{
        width:20em;
    }

    img.imgIcon {
    width: 4em;
    }
    .active,.toggle,ul li{
        display:block
    }
    ul{
        width:100%;
        display:none
    }
    ul li{
        text-align:center
    }
    .disable{
        opacity:0
    }
    .iconsFloatRightChange{
        background:#000;
        opacity:.9
    }
}